.table-responsive {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    text-align: left;
  
    th {
      background-color: #05192e; /* Color oscuro */
      color: white;
      text-align: center;
    }
  
    td {
      text-align: center;
    }
  }
  